


# ===================================== The Gitignore File =====================================

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.venv/
.env
.env.*






# ========
#=================
# Django
# =========================
*.log






# Django migrations (optional)
# **/migrations/*.py
# !**/migrations/__init__.py

# =========================
# OS / Editors
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/




# =========================
# Secrets
# =========================
*.secret










